* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Underline Active Elements in sidebar - active as in focused on page */
.element-active-on-screen {
  border-bottom: 1px solid white;
  font-weight: bold;
}
